*{
font-family: 'Fredoka One', cursive; ;
color: #fff;
}

body{
    margin: 0;
    
    background-image:url(img/ice-cream-pattern-wallpaper-contemporary-light-blue-85639609.jpg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{    
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: #9E2A5A;
  padding: 15px;
  border-radius: 40px;
  box-shadow: 10px 10px 43px 5px #47213b;
}
button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 40px;
    font-size: 1.5em;
    border: none;
    background-color: #af3266;
    box-shadow: 5px 5px 10px -3px #251d2398, -5px -5px 20px 1px #d34a83;

}
button:active{
    background: rgba(255, 255, 255, 0.03);
    box-shadow: inset -2px -2px 4px rgba(143, 31, 100, 0.5), inset 2px 2px 4px rgba(126, 29, 102, 0.25), inset 5px 5px 10px rgba(88, 13, 63, 0.5), inset -5px -5px 10px #ff66c44d;
    backdrop-filter: blur(86px);
    border-radius: 92px;
}
button:focus{
    outline: none;
}
.col-2{
    grid-column: span 2;

}

.display{
    grid-column:1 / -1 ;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #572137;
    border-radius: 20px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: inset 4px 0px 10px 5px rgba(24, 20, 22, 0.397), inset 0px 4px 4px rgba(39, 30, 36, 0.384);
}
 #value-after{
     font-size: 1.5em;
 }

 #value-before{
     font-size: 2em;
 }
